.header {
    text-shadow: bisque;
    font-family: Georgia;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    text-decoration: underline ;
    margin-bottom: 150px;
}

.container {
    display: flex;
    /* align-items: flex-start ; */ 
    flex-direction: column;
}
.container div{
    border: 1px orange solid;
    padding: 10px;
}
.container img{
    margin: 2rem;
}

.grid-1 {
    flex:2;
    order: 2;
    margin-left: 12rem;
}

.grid-2 {
    flex: 1;
    order: 1;
    margin-left: 12rem;
}

.grid-3 {
    flex: 2;
    order: 3;
    margin-left: 12rem;
}

.book-event{
    text-align: right;
    margin-right: 23rem;
    margin-top: 2rem;
}